<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Grid Shop] - Product Approval Notification</title>
</head>
<body>
<div style="width: 600px; margin: auto;">
    <div style="padding: 20px; border: 1px solid #dadada;">
        <p style="font-size: 16px; color: #000;">Greetings, <strong>{{username}}</strong>,</p>
        <p style="font-size: 16px; color: #000;">
            We would like to inform you that your product <strong>{{productName}}</strong> has been approved by
            our system.
        </p>
        <br>
        <p style="font-size: 16px; color: #000;">Thank you for using our service.</p>
        <p style="font-size: 16px; color: #000;">If you have any questions, please don't hesitate to contact us
            immediately at <a href="mailto:gridshopvn@gmail.com">gridshopvn@gmail.com</a>.</p>
        <p style="font-size: 16px; color: #000;">Thank you,</p>
        <p style="font-size: 16px; color: #000;">The Grid Shop Team</p>
    </div>
</div>
</body>
</html>
