<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Grid Shop] - Product Compliance Notification</title>
</head>
<body>
<div style="width: 600px; margin: auto;">
    <div style="padding: 20px; border: 1px solid #dadada;">
        <p style="font-size: 16px; color: #000;">Dear, <strong>{{username}}</strong>,</p>
        <p style="font-size: 16px; color: #000;">
            We would like to inform you that your product "<strong>{{productName}}</strong>" does not comply with
            our system's standards.
        </p>
        <p style="font-size: 16px; color: #000;">
            To ensure a quality experience for our users, we kindly request you to make the necessary adjustments to
            bring your product into compliance.
        </p>
        <br>
        <strong>Reason for non-compliance:</strong>
        <p style="font-size: 16px; color: #000;">
            {{contentFeedback}}
        </p>
        <br>
        <p style="font-size: 16px; color: #000;">Thank you for your attention to this matter. If you have any questions
            or need further assistance, please don't hesitate to contact us immediately at <a
                    href="mailto:gridshopvn@gmail.com">gridshopvn@gmail.com</a>.</p>
        <p style="font-size: 16px; color: #000;">Thank you,</p>
        <p style="font-size: 16px; color: #000;">The Grid Shop Team</p>
    </div>
</div>
</body>
</html>
