<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[Grid Shop] - Update Your Seller Information</title>
</head>
<body>
<div style="width: 600px;
            display: flex;
            justify-content: center;
            margin: auto;
            flex-direction: column;">
    <div style="padding: 20px;
                border: 1px solid #dadada;">
        <p style="font-size: 16px;
                  color: #000;">
            Greetings, <strong>{{username}}</strong>,
        </p>
        <p style="font-size: 16px;
                  color: #000;">
            Thank you for your interest in becoming a seller on our platform. We appreciate your request and would like
            to inform you that we have received your application.<br>
            Our team is currently reviewing your application and verifying the information provided.
        </p>
        <p style="font-size: 16px;
                  color: #000;">
            We would like to inform you that you need to adjust the following information to comply with our system's
            standards:<br>
            <strong>{{contentFeedback}}</strong><br>
            Please click the button below to update your information.
        </p>
        <a href="{{linkRegister}}" style="padding: 8px;
        display: inline-block;
        cursor: pointer;
        border-radius: 3px;
        font-size: 15px;
        text-decoration: none;
        background-color: #0167f3;
        color: #fff;
        font-weight: 500;">
            Update Information
        </a>
        <br><br>
        <p style="font-size: 16px;
                  color: #000;">
            Thank you for using our service.
        </p>
        <p style="font-size: 16px;
                  color: #000;">
            If you have any questions, please don't hesitate to contact us immediately at <a
                href="mailto:gridshopvn@gmail.com">gridshopvn@gmail.com</a>.
        </p>
        <p style="font-size: 16px;
                  color: #000;">
            Thank you,
        </p>
        <p style="font-size: 16px;
                  color: #000;">
            The Grid Shop Team
        </p>
    </div>
</div>
</body>
</html>
